<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css'>
    <link rel="stylesheet" href = {% static "css/home_style.css"%}/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.css">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>

<nav class="navbar is-fixed-top is-black">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="https://i.pinimg.com/originals/78/df/fd/78dffd0ca23fc5c8b51f3cc6cff8ee74.jpg" alt="Art Logo" width="50" >
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item is-active" href="/">
                    <i class="fa fa-home" style="padding-right: 5px;"></i>Home
                </a>
                <a class="navbar-item" href="user/login">
                    <i class="fas fa-sign-in-alt" style="padding-right: 4px;"></i>Sign In
                    </a>
                <a class="navbar-item" href="user/register">
                    <i class="fas fa-user-plus" style="padding-right: 4px;"></i>Sign Up
                    </a>
                </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
    (function() {
        var burger = document.querySelector('.burger');
        var nav = document.querySelector('#'+burger.dataset.target);

        burger.addEventListener('click', function(){
            burger.classList.toggle('is-active');
            nav.classList.toggle('is-active');
        });
    })();
</script>
<!--start Waves-->
<!--<div id="waves">
    <div class="wave-1"></div>
    <div class="wave-2"></div>
    <div class="wave-3"></div>
</div>-->
<!--END Waves-->

<!--Start FLOW-->
<div class="block">
    <div class="container">
        <div id="flow">
            <span class="flow-1"></span>
            <span class="flow-2"></span>
            <span class="flow-3"></span>
        </div>
    </div>
</div>
<!--END FLOW-->

<section class="hero is-dark is-large">
    <div class="hero-head">
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                <h1>
                    <span>A</span>
                    <span>R</span>
                    <span>T</span>
                    <span></span>
                </h1>
            </p>
            <p class="subtitle">
                <a id="buttonS" href="user/login">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fas fa-palette" style="padding-right: 4px;"></i>Let's get started!
                </a>
            </p>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>Art &trade;</strong> All rights reserved
            </p>
        </div>
    </div>
</footer>

</body>
</html>