<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }} - Art</title>
    {% load staticfiles %}
    <link rel="stylesheet" href = {% static "css/client.css"%}/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
        <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="menu align-center">
                  <li> <img src="https://i.pinimg.com/originals/78/df/fd/78dffd0ca23fc5c8b51f3cc6cff8ee74.jpg" alt="Art Logo" width="120" height="20">
                  </li>
                  <li><a href="welcome/">Home</a></li>
                  <li><a href="ordersList/">Requests</a></li>
                  <li><a href="#">Orders</a></li>
                  <li><a href="#">Delivers</a></li>
            </ul>
        </nav>

    <div class="container body-content">
       
        {% block content %}
            {% block button %}{% endblock %}
        {% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Art</p>
        </footer>
    </div>

    <script src="{% static 'js/client.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
