{% extends "app/layout.html" %}

    {% block nav %}
        <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="menu align-center">
                  <li> <img src="https://i.pinimg.com/originals/78/df/fd/78dffd0ca23fc5c8b51f3cc6cff8ee74.jpg" alt="Art Logo" width="120" height="20">
                  </li>
                  <li><a href="welcomePainter">Home</a></li>
                  <li><a href="ordersPainter">Orders</a></li>
            </ul>
        </nav>
    {% endblock %}

  {% block content %}
  <br/>
  <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="text-dark text-center">Welcome {{user.get_username}}</h1>
        </div>
     </div>
  </div>
  {% endblock %}