{% extends "app/layout.html" %}

    {% block nav %}
        <nav class="hover-underline-menu" data-menu-underline-from-center>
            <ul class="menu align-center">
                  <li> <img src="https://i.pinimg.com/originals/78/df/fd/78dffd0ca23fc5c8b51f3cc6cff8ee74.jpg" alt="Art Logo" width="120" height="20">
                  </li>
                  <li><a href="welcomePainter">Home</a></li>
                  <li><a href="ordersPainter">Orders</a></li>
            </ul>
        </nav>
    {% endblock %}

  {% block content %}
  <div class="welcome-section content-hidden">
	<div class="content-wrap">
		<ul class="fly-in-text">
			<li>W</li>
            <li>E</li>
			<li>L</li>
			<li>C</li>
			<li>O</li>
			<li>M</li>
			<li>E</li>
		</ul>
		<a href="orders" class="enter-button">{{user.get_username}}</a>
    </div>
  </div>
  {% endblock %}