{% extends "app/layoutArt.html" %}
     {%block content%}
                <form method="post" action="login" id="loginform">
                    {% csrf_token %}
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            {{form.username}}
                            <span class="icon is-small is-left">
                                <i class="fas fa-user" style="color: gray"></i>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            {{form.password}}
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock" style="color: gray"></i>
                            </span>
                        </p>
                    </div>
                </form>
                <div class="level options" style="margin-top:10px">
                    <label class="checkbox" id="rememberChkBox">
                        <input type="checkbox">
                        <strong>Remember me</strong>
                    </label>
                </div>
                <div class="block" style="align-content: center; width: 25%; margin: 0 auto">
                    <a class="field" href="login">
                        <button class="button is-link is-outlined is-rounded is-size-5 is-size-7-mobile" type="submit" form="loginform" value="submit">
                            <strong>Sign In</strong>
                        </button>
                    </a>
                </div>
                <div class="block" style="align-content: center; width: 45%; margin-top: 15px; margin-left:auto; margin-right:auto;">
                    <p><strong>Don't you have an account?</strong></p>
                </div>
                <div class="block" style="align-content: center; width: 25%; margin-top: 15px; margin-left:auto; margin-right:auto;">
                    <a class="field" href="register">
                        <button class="button is-dark is-outlined is-rounded is-size-5 is-size-7-mobile"><strong>Sign Up</strong>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {%endblock%}
