{% extends "layoutClient.html" %}

{% block content %}
<p></p>
<h1 class="text-center">{{title}}</h1>
<p></p>
<div class="container">
        <form theme="simple" class="text-center" method="POST" enctype="multipart/form-data" name="form">
        {% csrf_token %}
        <div class="form-group row">
          <label for="nameRequest" class="col-sm-2 col-form-label text-left">Name Request:</label>
          <div class="col-sm-10">
            <input type="nameRequest" class="form-control" id="nameRequest" name="nameRequest">
          </div>
        </div>

        <div class="form-group row">
                <label for="description"  class="col-sm-2 col-form-label text-left">Description:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="description"  name="description" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group row">
                <label for="file" class="col-sm-2 col-form-label text-left">File:</label>
                <div class="col-sm-10">
                        <label class="custom-file-label form-control" for="image">Choose a image</label>
                        <input type="file" name="image" class="custom-file-input form-control" accept="image/*" required="" id="image">
                </div>
        </div>

        <input type="hidden" id="signature" name="signature"/>  

        <input class="btn btn-dark" type="submit" name="submit" value="Finish" disabled='disabled' />
        <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="checkbox" id="check" name="terminos" onclick="activarcasilla()"/>
                        <label class="form-check-label" for="defaultCheck1">Agree to terms and conditions</label>
        </div>  
</form>

<form theme="simple" class="text-center"  enctype="multipart/form-data" name="form2"></form>
        <div class="form-group row">
          <label for="privateTextArea" class="col-sm-2 col-form-label text-left">Private Key PEM:</label>
          <div class="col-sm-10">
                <textarea class="form-control" id="privateTextArea"  name="privateTextArea" rows="30" cols="63" disabled></textarea>
          </div>
        </div>
        <div class="form-group row">
                <label for="fileKey" class="col-sm-2 col-form-label text-left">File Key:</label>
                <div class="col-sm-10">
                        <label class="custom-file-label form-control" for="image">Select your private key</label>
                        <input type="file" name="key" class="custom-file-input form-control" accept="application/octet-stream" id="key">
                </div>
        </div>
</form>

</div>
{% endblock %}

{% block scripts %}
<script>
        function activarcasilla(){
                        document.form.submit.disabled=!document.form.terminos.checked;              
        }
</script>
<script>
        document.getElementById('image').addEventListener('change', handleImageSelect, false);
        document.getElementById('key').addEventListener('change', handlePrivFileSelect, false);

        function handleImageSelect(evt) {
                var files = evt.target.files; // FileList object
                // files is a FileList of File objects. List some properties.
			for (var i = 0, f; f = files[i]; i++) {
			  var reader = new FileReader();
                          var fileByteArray = [];
				reader.onloadend = function(evt){
                                        if (evt.target.readyState == FileReader.DONE) {
                                                var arrayBuffer = evt.target.result,
                                                array = new Uint8Array(arrayBuffer);
                                                for (var i = 0; i < array.length; i++) {
                                                        fileByteArray.push(array[i]);
                                                }
                                        }
                                        console.log(fileByteArray);
				}
				reader.onerror = function (evt) {
					alert("Error reading file");
				}
			}        
        }

        function handlePrivFileSelect(evt) {
			var files = evt.target.files; // FileList object

			// files is a FileList of File objects. List some properties.
			txtresult = "";
			for (var i = 0, f; f = files[i]; i++) {
			  var reader = new FileReader();
				reader.readAsText(f, "UTF-8");
				reader.onload = function(evt)
				{
                                        pem = evt.target.result;
					document.getElementById('privateTextArea').innerHTML = pem;
                                        deleteCookie('artprivk');
                                        setCookie('artprivk', pem.replace(/(?:\r\n|\r|\n)/g, ':'));
				}
				reader.onerror = function (evt) {
					alert("Error reading file");
				}
			}
		}

        function loadCookie(){
                var cname = 'artprivk';
                text = document.getElementById('privateTextArea');
                key = getCookie(cname).replace(/(:)/g, '\n');
                if(!(key == "")){
		        text.innerHTML = key;
                }
        }

        function setCookie(cname, cvalue) {
			var d = new Date();
			d.setTime(d.getTime() + (30*24*60*60*1000));
			var expires = "expires="+ d.toUTCString();
			document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
		}
		
		function getCookie(cname) {
			var name = cname + "=";
			var decodedCookie = decodeURIComponent(document.cookie);
			var ca = decodedCookie.split(';');
			for(var i = 0; i <ca.length; i++) {
				var c = ca[i];
				while (c.charAt(0) == ' ') {
					c = c.substring(1);
				}
				if (c.indexOf(name) == 0) {
					return c.substring(name.length, c.length);
				}
			}
			return "";
		}
		
		function deleteCookie(cname) {
			document.cookie = cname + "=;max-age=0;path=/";
		}
</script>
{% endblock %}
