  {% extends "layoutClient.html" %}
  {% block links %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  {% endblock %}      
      {% block content %}
    <div class="container">
      <div class="card">
        <div class="card-body">
          <h1 class="text-center">{{title}}</h1>
		        {% block button %}
      <div class="text-center">
          <button type="button" class="btn btn-dark align-center" onclick="location.href='newOrder'">New Order</button>
        </div>
      {% endblock %}
          <table class="table-expand">
            <thead>
              <tr class="table-expand-row">
                <th class="text-center" width="300">Name Order</th>
                <th class="text-center" width="300">Date of the Order</th>
                <th class="text-center" width="300">Date of the Delivery</th>
                <th class="text-center" width="300">Actions</th>
              </tr>
            </thead>
            <tbody>
            {%for r in result%}
              <tr class="table-expand-row" data-open-details>
                <td class="text-center">{{r.nameRequest}}</td>
                <td class="text-center">{{r.dateRequest}}</td>
                <td class="text-center">{{r.dateDelivery}}</td>
                <td class="text-center">
                  <a href="order_generated_pdf?orderid={{r.id}}">
                    <i class="far fa-file-pdf" title="PDF Confirmation"></i>
                  </a>
                </td>
              </tr>  
            {% endfor %}             
            </tbody>
          </table>
        </div>
      </div>
	  {% endblock %}
    </div>